<!doctype html>
<title>wish数据拉取</title>
<div style="text-align:center">
    <input id="start" value="{{start}}">
    <input id="end" value="{{end}}">
    <input id="keywords" value="{{keywords}}">
    <input type="button" onclick="search()" value="点我查询"/>
</div>
<div id="main" style="width: 100%;height:700px;text-align:center"></div>
<script src="{{url_for('static', filename='jquery.js')}}"></script>  
<script src="{{url_for('static', filename='echarts.min.js')}}"></script>
<script>
  search()
  function search(){
    start = $("#start").val()
    end = $("#end").val()
    keywords=  $("#keywords").val()
    $.ajax({
        url:"/wish/diff/"+keywords+"/"+start+"/"+end,
        success:function(result){
            diff=JSON.parse(result)
            xArray = []
            yArray1=[]
            yArray2=[]
            for (var i=0; i<diff.length;i++){
            xArray.push(diff[i].id);
            yArray1.push(diff[i].pre);
            yArray2.push(diff[i].now);
            }
            drawChart(xArray,yArray1,yArray2)
    }});
    var drawChart=function(xArray,y1,y2){
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        myChart.on('click', function (param){
            window.open("https://www.wish.com/#cid="+param.name)
        });
        
        var option = {
        title: {
            text: '差异对比'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: xArray
        },
        yAxis: {},
        series: [{
            name: '昨天',
            type: 'bar',
            data: y1
        },
        {
            name: '今天',
            type: 'bar',
            data: y2
        }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }
  }
</script>
